{% extends 'base.html' %}
{% load static %}
{% load my_tags %}

<head>
	{% block linkfile %}
	<meta charset="UTF-8">
	<title>Profile</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
		integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
	<!-- <script src="https://kit.fontawesome.com/09f47cf394.js" crossorigin="anonymous"></script> -->

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

	{% endblock %}


	{% block extrahead %}
	<style>
		h2 {
			font-family: "Google Sans", arial, sans-serif;
		}
	</style>
	{% endblock%}

</head>



<body class="w3-theme-l5">
	{% block content %}


	<!-- Navbar -->
	<div class="w3-top">
		<div class="w3-bar w3-theme-d2 w3-left-align w3-large">
			<a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-white iiitd">
				<div class="content">
					<h2>BUDRIVE</h2>
					<h2>BUDRIVE</h2>
				</div>
			</a>
			<a href="{% url 'mydrive' %}" style="text-decoration:none"
				class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="My Drive">
				<h2>My Drive</h2>
			</a>
			<a href="{% url 'starred' %}" style="text-decoration:none"
				class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Starred">
				<h2>Starred</h2>
			</a>
			<a href="{% url 'trash' %}" style="text-decoration:none"
				class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Trash">
				<h2>Trash</h2>
			</a>
			<a href="{% url 'share' %}" style="text-decoration:none"
                class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Shared">
                <h2>Shared</h2>
            </a>
			<a href="{% url 'profilepage' %}" style="text-decoration:none"
				class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-theme-d4" title="Profile">
				<h2 style="color: black;">Profile</h2>
			</a>

			{% include 'profile_dropdown.html' %}

		</div>
	</div>

	<div class="container" style="padding-top: 80px;">
		<div class="main-body">
			<div class="row">
				<div class="col-lg-4">
					<div class="card user_details animate__animated animate__fadeInUp animate__slower">
						<img src="{% static "images/iiitd.png" %}" alt="BU" height="10px">

						<div class="card-body" style="padding-top: 100px;">
							<form method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="d-flex flex-column align-items-center text-center">

									<div class="circle">
										{% if request.user.details.profile_picture %}
											<img class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm zoom profile-pic" src = "{{request.user.details.profile_picture.url}}">
										{% else %}
											<img class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm zoom profile-pic" src = "https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
										{% endif %}
									</div>
									<div class="p-image">
										<i class="fa fa-camera upload-button"></i>
										<input class="form-control file-upload" name="profile_image" value="" type="file" id="profile_image" accept="image/*" required>
									</div>
									<br>
									<br>
									<input class="btn btn-outline-primary" type="submit" value="Upload Profile Photo" onclick="return upload_photo()">

								</div>

							</form>

							<div class="w3-center" style="padding-top: 30px;">
								<a href="{% url 'social' %}" style="text-decoration: none;">
									<button class="edit_profile" style="width: 50%;">Social Profile </button>
								</a>
							</div>
							<br>

							<div class="w3-center" style="padding-top: 5px;">

								<div class="h5 font-weight-300">
									<b>{{request.user.username}} </b><img src="{% static "images/bluetick.png" %}" alt="Verified" width="17px">
								</div>

								<span class="font-weight-light">{{request.user.email}}</span>
							</div>

							<hr class="my-4">

							{% if request.user.details.about_me %}
							<p>{{request.user.details.about_me}}</p>
							{% endif %}

						</div>

						{% include 'social_profile_links.html' %}

					</div>
				</div>


				<div class="col-lg-8">
					<div class="card animate__animated animate__fadeInRight animate__slower">
						<div class="card-body">
							<form method='post'>
								{% csrf_token %}
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0"><b>User Name</b></h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input type="text" class="form-control" name="name" value="{{request.user.username}}" readonly>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0"><b>Email</b></h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input type="email" class="form-control" name="email" value="{{request.user.email}}" readonly>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0"><b>About Me</b></h6>
									</div>
									<div class="col-sm-9 text-secondary">
										{% if request.user.details.about_me %}
											<textarea rows="4" class="form-control form-control-alternative" name="about_me" placeholder="{{request.user.details.about_me}}" readonly></textarea>
										{% else %}
											<textarea rows="4" class="form-control form-control-alternative" name="about_me" placeholder="A few words about you ..." style="font-style:italic" required></textarea>
										{% endif %}
									</div>
								</div>

								<div class="table-responsive">
									<table class="table table-bordered border-dark" border=1>
										<tr>
											<td class="col-sm-3"><i class="fa fa-github"></i> Github</td>
											{% if request.user.details.socials|get_social_link:'github' %}
											<td><input type="url" class="form-control" name="github" value="{{request.user.details.socials|get_social_link:'github'}}" placeholder="Type link here"></td>
											{% else %}
											<td><input type="url" class="form-control" name="github" value="" placeholder="Type link here"></td>
											{% endif %}
										</tr>
										<tr>
											<td class="col-sm-3"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</td>
											{% if request.user.details.socials|get_social_link:'linkedin' %}
											<td><input type="url" class="form-control" name="linkedin" value="{{request.user.details.socials|get_social_link:'linkedin'}}" placeholder="Type link here"></td>
											{% else %}
											<td><input type="url" class="form-control" name="linkedin" value="" placeholder="Type link here"></td>
											{% endif %}
										</tr>
										<tr>
											<td class="col-sm-3"><i class="fa fa-twitter"></i> Twitter</td>
											{% if request.user.details.socials|get_social_link:'twitter' %}
											<td><input type="url" class="form-control" name="twitter" value="{{request.user.details.socials|get_social_link:'twitter'}}" placeholder="Type link here"></td>
											{% else %}
											<td><input type="url" class="form-control" name="twitter" value="" placeholder="Type link here"></td>
											{% endif %}
										</tr>
										<tr>
											<td class="col-sm-3"><i class="fa fa-instagram"></i> Instagram</td>
											{% if request.user.details.socials|get_social_link:'instagram' %}
											<td><input type="url" class="form-control" name="instagram" value="{{request.user.details.socials|get_social_link:'instagram'}}" placeholder="Type link here"></td>
											{% else %}
											<td><input type="url" class="form-control" name="instagram" value="" placeholder="Type link here"></td>
											{% endif %}
										</tr>
										<tr>
											<td class="col-sm-3"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</td>
											{% if request.user.details.socials|get_social_link:'facebook' %}
											<td><input type="url" class="form-control" name="facebook" value="{{request.user.details.socials|get_social_link:'facebook'}}" placeholder="Type link here"></td>
											{% else %}
											<td><input type="url" class="form-control" name="facebook" value="" placeholder="Type link here"></td>
											{% endif %}
										</tr>
										<tr>
											<td class="col-sm-3"><i class="fa fa-reddit-square"	aria-hidden="true"></i> Reddit</td>
											{% if request.user.details.socials|get_social_link:'reddit'%}
											<td><input type="url" class="form-control" name="reddit" value="{{request.user.details.socials|get_social_link:'reddit'}}" placeholder="Type link here"></td>
											{% else %}
											<td><input type="url" class="form-control" name="reddit" value="" placeholder="Type link here"></td>
											{% endif %}
										</tr>

									</table>
								</div>

								<div class="row">
									<div class="col-sm-3"></div>
									<div class="col-sm-9 text-secondary">
										<input type="submit" class="btn btn-primary px-4" value="Save Changes">
									</div>
								</div>
							</form>
						</div>

					</div>





				</div>

			</div>
		</div>
	</div>

	{% endblock %}
</body>
